# Dependencies
node_modules

# Build output
dist
dist-ssr

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Local env files
*.local

# ESLint reports
eslint-report.json

# Playwright test artifacts
playwright-report/
test-results/

# TypeScript
*.tsbuildinfo

# Editor files
*.suo
*.ntvs*
*.njsproj
*.sln
